extends base

block content
  .ui.placeholder.segment
    .ui.center.aligned.basic.segment
      .ui.icon.header
        i.grey.id.badge.icon
        .ui.statistic
          .label code
          .value= title
      table.ui.striped.table
        thead
          tr
            th User
            th.right.aligned Expired in
        tbody
          each auth in auths
            - var check_expire = {'disabled': auth.expired == 'expired'}
            tr(class=check_expire)
              td
                each icon in auth.user
                  i.bordered.large.icon(class=icon class=check_expire)
              td.right.aligned= auth.expired|capitalize

// vim: set ts=2 sw=2 et:
