extends base
include mixins/auth
include mixins/util

block head
  script(src=url_for('static', filename='js/validate.js'))
  script(src=url_for('static', filename='js/authenticate.js'))
  script(src='https://www.google.com/recaptcha/api.js', async, defer)

block content
  .ui.center.aligned.basic.segment
    h1.ui.blue.icon.header
      i.grey.circular.paragraph.icon
      .content Create new account
  .ui.stacked.segment
    +auth_steps('account information', 'user plus')
    +util_flashed_messages
    form.ui.form(method='POST' action=url_for('signup.result'))
      .basic.segment.step-1
        .field
          label Username
          input(name='username' placeholder='Username' type='text')
        .field
          label Password
          input(name='password' placeholder='Password' type='password')
        .field
          label Password Confirmed
          input(name='confirmed' placeholder='Password' type='password')
        .field: .ui.checkbox
          input(name='agreement' type='checkbox' checked)
          label I agree to the Terms and Conditions
        if recaptcha
          .field
            input(name='recaptcha' type='hidden')
            .g-recaptcha(data-sitekey=recaptcha
                         data-callback='recaptcha_validate'
                         data-expired-callback='recaptcha_expired')
        .ui.large.primary.submit.button#forward-step-2 Next Step
      .basic.segment.step-2
        +auth_message('sign-up', code)
        .field#broker-select
          label Broker
          +auth_broker(brokers, code)
        .field#badges-select
          label Badges
          +auth_badges
        .ui.large.primary.submit.button Register
        .ui.large.button#backward-step-1 Back
  .ui.message
    | Already has account? #[a(href=url_for('signin.index')) Login].

// vim: set ts=2 sw=2 et:
