extends base

block head
  script(src=url_for('static', filename='js/validate.js'))
  script(src=url_for('static', filename='js/authenticate.js'))
  if get_flashed_messages()
    style(type='text/css').
      .ui.form .error.message { display: inherit; }

block content
  .left.aligned.column
    .ui.center.aligned.basic.segment
      h1.ui.blue.icon.header
        i.grey.circular.paragraph.icon
        .content
          | Create new account
    .ui.stacked.segment
      .ui.small.two.steps
        .step.step-1
          i.user.plus.icon
          .content
            .title Account Information
        .step.step-2
          i.mobile.icon
          .content
            .title Two Factor Authentication
      form.ui.form(method='POST' action=url_for('signup.result'))
        .ui.error.message
          ul.list
            each message in get_flashed_messages()
              li= message
        .basic.segment.step-1
          .field
            label Username
            input(name='username' placeholder='Username' value='username' type='text')
          .field
            label Password
            input(name='password' placeholder='Password' value='password' type='password')
          .field
            label Password Confirmed
            input(name='confirmed' placeholder='Password' value='password' type='password')
          .field
            .ui.checkbox
              input(name='agreement' type='checkbox' checked='checked')
              label I agree to the Terms and Conditions
          .ui.large.primary.submit.button#forward-step-2 Next Step
        .basic.segment.step-2
          .ui.icon.message
            i.mobile.alternate.icon
            .content
              .header Send an SMS to Complete Sign-up
              p Choose one public authentication server and send an SMS with the code:&nbsp;
                b= code
          .field#broker-select
            label Broker
            table.ui.basic.table
              thead
                tr
                  th Status
                  th Phone Number
                  th Broker Name
              tbody
                each broker in brokers
                  tr
                    td
                      .ui.basic.icon.button(data-auth-url='#{broker.url}api/auths/#{code}'
                                            data-tooltop='Click to check record'
                                            data-position='left center')
                        i.search.icon
                      input(name='broker' value='#{broker.name}' type='radio' hidden='hidden')
                    td= broker.phone
                    td= broker.name
          .field#phone-select
            label Identity
            .ui.fluid.disabled.search.selection.dropdown(name='phone')
              input(name='phone' type='hidden')
              i.dropdown.icon
              .default.text
              .menu
          .ui.sub.header
          .ui.large.primary.submit.button Register
          .ui.large.button#backward-step-1 Back
    .ui.message
      | Already has account?&nbsp;
      a(href=url_for('signin.index')) Login
      | .

// vim: set ts=2 sw=2 et:
